
.sloganC {
    width: 50%;
    float: left;
    justify-content: space-between;
      flex-wrap: wrap;
    text-align: left;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    
    
  }
  .slogan {
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 72px;
    flex-wrap: wrap;
  
  }
  
  .pillsC{
    width: 50%;
    float: right;
    text-align: center;
  }
  
  .dividor{
    margin: 50px;
    padding: 50px;
    
  }
  
  .pills{
    max-width: 90%;
    border-radius: 35px;
  }
  